<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="life.laboratory.rosbank2018">
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <application
        android:allowBackup="true"
        android:icon="@drawable/logo_rosbank_1"
        android:label="LifeLaboratory"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar"
        android:fullBackupContent="@xml/backup_descriptor">
        <!--<activity-->
            <!--android:name=".List_Activity"-->
            <!--android:label="@string/title_activity_list_" >-->
        <!--</activity>-->
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!--<activity-->
            <!--android:name=".LoginActivity"-->
            <!--android:label="@string/title_activity_login" />-->
        <activity
            android:name=".Graphics_activity"
            android:label="@string/title_activity_graphics_activity" />
        <activity
            android:name=".PersonalActivity"
            android:label="@string/title_activity_personal"></activity>
    </application>

</manifest>